<div class="d-flex justify-content-between align-items-center">
  <h3 class="m-0"><%= pageTitle %></h3>
  <a class="btn btn-primary" href="/suppliers/create" role="button">
    <i class="bi-plus-lg"></i> Create Profile
  </a>
</div>

<div class="table-responsive mt-3">
  <table class="table table-bordered table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Phone</th>
        <th scope="col">Email</th>
        <th scope="col">User</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% profiles.forEach((profile, index)=> { %>
        <tr>
          <th scope="row"><%= index + 1 %></th>
          <td class="w-100"><%= profile.name %></td>
          <td><%= profile.phoneNumber %></td>
          <td><%= profile.email %></td>
          <td><%= profile.user.username %></td>
          <td>
            <div class="d-flex gap-2 text-nowrap">
              <a class="btn btn-success btn-sm" href="/profiles/<%= profile.id %>" role="button">
                <i class="bi-eye-fill"></i> Detail
              </a>
              <a class="btn btn-primary btn-sm" href="/profiles/<%= profile.id %>/edit" role="button">
                <i class="bi-pencil-fill"></i> Edit
              </a>

              <form method="post" action="/suppliers/<%= profile.id %>?_method=DELETE">
                <button class="btn btn-danger btn-sm" type="submit">
                  <i class="bi-trash-fill"></i> Delete
                </button>
              </form>
            </div>
          </td>
        </tr>
        <% }) %>
    </tbody>
  </table>
</div>